.contenedor-planes .planes h2, .main-contenedor .contratacion h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 100;
  color: #FFFFFF;
  text-shadow: 2px 7px 2px #000000;
}

.contenedor-planes .planes h2 p, .main-contenedor .contratacion h2 p {
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  padding-bottom: 5%;
  text-shadow: 2px 7px 2px #000000;
}

/*Body*/
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(#FFF7F7, #9F9D9D);
}
html ul, body ul {
  list-style: none;
}

/*Nav*/
.nav-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease;
}
.nav-principal ul {
  display: flex;
}
.nav-principal li {
  padding: 20px;
}
.nav-principal .style-logo {
  display: flex;
  height: 150px;
}

.nav-menu {
  width: 80%;
  display: flex;
  justify-content: center;
}
.nav-menu a {
  text-decoration: none;
  color: #FFFFFF;
}
.nav-menu li a:hover {
  padding: 5px 10px;
  background-color: #787878;
  color: #000000;
  border-radius: 5px;
}
.nav-menu li a {
  transition: all 0.5s ease;
}

/*Fin Nav*/
.contenedor-planes .planes h2, .main-contenedor .contratacion h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 100;
  color: #FFFFFF;
  text-shadow: 2px 7px 2px #000000;
}

.contenedor-planes .planes h2 p, .main-contenedor .contratacion h2 p {
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  padding-bottom: 5%;
  text-shadow: 2px 7px 2px #000000;
}

/*Secciones*/
/*Seccion Contratacion*/
.main-contenedor {
  background-image: url(../imagenes/fondo-index.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 1800px;
  background-attachment: fixed;
  background-size: cover;
}
/*Fin Seccion Contratacion*/
/*Seccion Planes*/
.contenedor-planes {
  margin-top: 10%;
}
@media (max-width: 767px) {
  .tarjetas-planes {
    padding-left: 100px;
  }
}
/*FIN Seccion Planes*/
/*Seccion Quienes Somos*/
.contenedor-qs {
  background-image: url(../imagenes/fondo-qs.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}
.contenedor-qs .titulo {
  text-align: center;
  font-weight: 100;
  color: #FFFFFF;
  text-shadow: 2px 7px 2px #000000;
  padding-bottom: 10%;
}
.contenedor-qs .parrafo {
  font-size: 15px;
}

/*Fin Seccion Quienes Somos*/
/*Pagina contacto*/
.contacto {
  padding-bottom: 75px;
  padding-top: 75px;
  background-color: #000000;
}
.contacto .map {
  width: 70%;
}
.contacto h1, .contacto h3, .contacto p {
  color: #FFFFFF;
}
.contacto h1, .contacto h3 {
  padding-bottom: 15%;
}
.contacto .presentacion {
  text-align: right;
}
.contacto .row {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .contacto .nosotros {
    padding-bottom: 45px;
    padding-top: 45px;
  }
  .contacto .maps {
    width: 5px;
  }
  .contacto .presentacion {
    text-align: center;
  }
}

/*Formulario*/
.contacto2-contenedor {
  background-color: #000000;
  margin-left: 8.3%;
  margin-right: 8.3%;
}
.contacto2-contenedor .bg {
  margin-left: 20%;
  margin-bottom: 5%;
}
.contacto2-contenedor .col .mb4 {
  margin-right: 20%;
}
.contacto2-contenedor .d-grid {
  margin-right: 20%;
  margin-bottom: 10%;
  margin-top: 5%;
}
.contacto2-contenedor .col h2 {
  margin-right: 20%;
  color: #FFFFFF;
}
.contacto2-contenedor .mb4 label {
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .contacto2-contenedor .contacto2-contenedor {
    padding-bottom: 45px;
    padding-top: 45px;
    padding-left: 10px;
  }
  .contacto2-contenedor .col h2 {
    text-align: center;
  }
}

/*Fin Pagina contacto*/
/*Pagina Cotizador*/
.container-cotizador {
  background-image: url(../imagenes/fondo-index.jpeg);
}
.container-cotizador .form-group .fa {
  color: #FFFFFF;
}

/*Fin Pagina Cotizador*/
/*Footer*/
.footer {
  width: 100%;
  background-color: #000000;
}
.footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0;
}
.footer .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .grupo-1 .box figure img {
  width: 50px;
}
.footer .grupo-1 .box figure h2 {
  color: #FFFFFF;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #FFFFFF;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.footer .grupo-1 .red-social a:hover {
  color: #8DDBE7;
}

@media screen and (max-width: 767px) {
  .footer .grupo-1 {
    width: 98%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 75px 10px;
  }
}
/*Fin footer*/
.main-contenedor .contratacion h2, .contenedor-planes .planes h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 100;
  color: #FFFFFF;
  text-shadow: 2px 7px 2px #000000;
}

.main-contenedor .contratacion h2 p, .contenedor-planes .planes h2 p {
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  padding-bottom: 5%;
  text-shadow: 2px 7px 2px #000000;
}

/*# sourceMappingURL=style.css.map */
