// nth($colores, N° del color)

$colores:
#000000,
#FFFFFF,
#FFF7F7,
#9F9D9D,
#787878,
#0d2033,
#8DDBE7;


$tamañotextos: 
15px,
40px,
30px,
20px;

$margin: 
0,
2%,
5%,
6%,
8.3%,
10%,
20%,
25px;


$padding: 
0,
5px,
5%,
10px,
10%,
15%,
20px,
35px,
45px,
75px;
